/* styling for our nav bar */
.nav-bar {
  background-color: #4056A1;
  height: 120px;
  width: 100%;
  color: #ffffff;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* allows us to set the correct padding for the container in nav */
.nav-content {
  margin: 1.5em;
  width: 100%;
  align-items: center;
} 

/* Style our Tweeter logo */
.nav-title {
  font-family: "Bungee", "sans-serif";
  color: #ffffff;
  font-size: larger;
}

/* styling and anim for the nav arrow */
.nav-arrow {
animation: MoveUpDown 1s linear infinite;
display: flex;
justify-content: center;
margin-top: 15px;
color: #ff0000;
}

/* Animating arrow going up and down */
@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(-10px)
  } 50% {
    transform: translateY(20px)
  }
}

/* when we hover over our toggler let user see it's a clickable link */
.nav-toggle:hover {
  cursor: pointer;
}

/* generic classes */

/* bold our text */
.bold {
  font-weight: bold;
}

/* apply flex */
.flex-row {
  display: flex;
}

/* space content at opposing ends with flex */
.space-between {
  justify-content: space-between;
}